@font-face {        
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/home/dmitry/repos/cv-app/src/styles/fonts/NotoSans-Regular.ttf")
      format("woff2");
}

@font-face {        
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/home/dmitry/repos/cv-app/src/styles/fonts/NotoSans-Regular.ttf")
      format("woff2");
}

@font-face {        
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/home/dmitry/repos/cv-app/src/styles/fonts/NotoSans-Medium.ttf")
      format("woff2");
}

@font-face {        
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/home/dmitry/repos/cv-app/src/styles/fonts/Inter_18pt-Light.ttf")
      format("woff2");
}

:root {
    --inputBorderColor: rgb(184, 180, 180);
    --borderRadius: 4px;
    --inputTextColor: rgb(208, 211, 214);
    --inputBackgroundColor: #1e283f;
    --backgroundColor: #0f172a;
    --navBackgroundColor: #090e1a;
    --navHoverButtonColor: #1e283f;
    --navActiveButtonColor: #0f172a;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;    
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: "Noto Sans";
    font-weight: 400;    
    background: #090e1a;
    background-image: radial-gradient(#455579 5%, transparent 0);
    background-size: 35px 35px;   
}

#root {
    height: 100%;
}

input, textarea {    
    border: none;
    font-size: 1rem;
    border-radius: var(--borderRadius);
    background-color: var(--inputBackgroundColor);
    color: var(--inputTextColor);  
    margin-bottom: .5rem;
    padding: .5rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}

textarea {
    height: 4rem;
}

button {
    cursor: pointer;
    border: none;    
}

.cv-editor {
    display: flex;
    gap: 1.5rem;   
    padding-right: 1.5rem;;
    background-color: var(--backgroundColor);  
    color: rgb(230, 223, 223);
    margin-bottom: 2rem;    

    nav, section {      
        padding: 1.5rem 0;       
    }

    section {
        width: 100%;
    }

    h1 {
        margin-bottom: 1rem;
        font-size: 1.3rem;       
    }   
}

nav {  
    background-color: var(--navBackgroundColor)
}

nav button {
    display: block;    
    width: 3rem;
    height: 3rem;   

    &:hover {
        background-color: var(--navHoverButtonColor);
    } 
    
    img {
        width: 1.2rem;      
    }
}

.nav-active-button {
    background-color: var(--navActiveButtonColor);
}

.nav-inactive-button {
    background-color: var(--navBackgroundColor)
}

.edit-form {
    margin-bottom: 1rem;

    label {
        display: block;
        color: rgb(245, 196, 62);
        margin-bottom: 4px;
        font-size: 0.775rem;
        font-weight: 300;   

        span {
            color: rgb(248, 53, 53);
        }
    }
}

.edit-form-buttons-container {
    display: flex;
    justify-content: space-between;
}

.edit-form-delete-button,
.edit-form-save-button {    
    width: 6rem;
    padding: 4px 0;
    font-weight: 500;   
    color: rgb(221, 215, 215);       
    background-color: transparent;         
    border: solid 1px rgb(245, 196, 62);     
}

.edit-form-save-button {
    color: var(--navBackgroundColor);
    background-color: rgb(211, 168, 48);    
}

.edit-form-delete-button:hover {
    color: var(--navBackgroundColor);
    background-color: rgb(211, 168, 48); 
}

.edit-form-save-button:hover {
    color: rgb(221, 215, 215);;
    background-color:transparent; 
}

.minimized-form {
    display: flex;
    align-content: center;
    margin-bottom: 4px;    
}

.form-button {
    display: block;
    width: 100%;
    text-align: start;
    font-size: .9rem;  
    color: rgb(245, 196, 62);
   
    background-color: var(--inputBackgroundColor);
    padding: .7rem;   
    border: solid 2px var(--navBackgroundColor); 

    &:hover {
        background-color: #212d49;;
    }    
}

.add-button,
.small-delete-button {
    padding: .5rem;
    background-color: transparent;   
    opacity: 0.8; 
    
    &:hover {
        opacity: 1;
    } 
}

.add-button {
    color: rgb(247, 54, 54);
    font-size: 1rem;
}

.small-delete-button { 
    padding: 6px;
    height: 2rem;
    width: 2rem;  
    
    img {       
        width: 100%;
    }
}

/* --------------- TABLET STYLES --------------- */

@media (min-width: 600px) {
    .edit-form {
        display: grid;
        gap: 0 1rem;
        grid-template-columns: 1fr 1fr;
    }
}

/* --------------- DESKTOP STYLES --------------- */

@media (min-width: 1024px) {
    #root {
        display: grid;
        grid-template-columns:25rem 1fr;
        height: 100vh;
    }

    .cv-editor {
        margin-bottom: 0;
    }

    .edit-form {       
        grid-template-columns: 1fr;       
    }    
}



