@font-face {        
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/home/dmitry/repos/cv-app/src/styles/fonts/Inter_18pt-Light.ttf")
      format("woff2");
}

@font-face {        
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("/home/dmitry/repos/cv-app/src/styles/fonts/Inter_24pt-ExtraLight.ttf")
      format("woff2");
}

.preview { 
    display: grid;
    justify-content: center; 
    height: 100%;
    font-family: "Inter";
    text-align: justify;
}

hr {   
    border: solid 1px #dddedf;
    margin-bottom: 1rem;
}

.personal-info-preview {
    text-align: center;
    font-size: .8rem;
    margin-bottom: 1.5rem;

    h1 {
        margin-bottom: .4rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.education-preview,
.experience-preview,
.projects-preview,
.skills-preview {
    margin-bottom: 1.5rem;

    h2 {
        font-size: 1rem;
        font-weight: bold;
    }

    h3 {
        font-size: .9rem;
        font-weight: bold;
    }
    
    h4 {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: .5rem;
    } 
    
    p {
        font-size: .9rem;
    }
}

.school-preview,
.job-preview {
    margin-bottom: 1rem;
}

.school-preview > div,
.job-preview > div {
    display: flex;
    justify-content: space-between;  

    p {
        font-size: .8rem; 
        font-weight: 500;       
    }    
}

.job-preview p,
.school-preview p,
.projects-preview p,
.skills-preview p {
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: .3rem;
}

.job-preview p:nth-of-type(2) {
    margin-bottom: .5rem;
}

.a4-preview-page {    
    width: 180mm;
    height: 267mm;   
    padding: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #fdfdfa;
    border: 1px solid #ddd;
    transform-origin: top;
    scale: .6;      
}

@media (min-width: 600px) {
    .a4-preview-page {       
        scale: 0.8;        
    }
}

@media (min-width: 1024px) { 
    .a4-preview-page {
        margin-top: 2rem;
        scale: 1;        
    }
    
    textarea {
        min-height: 14rem;
    }
}